.table-card {
  background: #ffffff;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-header h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #3b3b3b;
}

.icon-btn{
  border: none;
  background: transparent;
}

.tabs {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid transparent;
}

.tab {
  padding: 6px 12px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  border: none;
  background: none;
  cursor: pointer;
  color: #3b3b3b;
}

.tab.active {
  background: #ebf2ff;
  color: #226cf5;
  border-radius: 4px;
}

.table-responsive {
  width: 100%;
  overflow-x: auto; 
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #ebeef1;
}

th {
  text-align: left;
  padding: 10px 16px;
  font-size: 14px;
  color: #939393;
  font-weight: 500;
}

td {
  padding: 16px;
  border-bottom: 1px solid #dbdbdb;
  font-size: 14px;
  color: #3b3b3b;
  vertical-align: middle;
}

.ack-no {
  text-decoration: underline;
}

.student-info,
.pending-info {
  display: flex;
  flex-direction: column;
}

.email,
.date {
  font-size: 12px;
  color: #939393;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding-top: 16px;
}

.page-numbers {
  display: flex;
  gap: 8px;
}

.page-num {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: 1px solid #ebebeb;
  font-size: 14px;
  cursor: pointer;
}

.page-num.active {
  background: #ffffff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  border: none;
  font-weight: 700;
}

@media (max-width:900px) and (min-width:200px) {
  .table-card{
    overflow-x: scroll;
  }
}