.stats-group-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 100vw;
  margin: 24px 0;
  gap: 12px; 
  filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.06));
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box; 
}

.stat-card-wrapper {

  flex: 1 1 calc(20% - 12px); 
  min-width: 140px; 
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.card-background {
  width: 100%;
  height: 107px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.card-count {
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
}

.card-label {
  margin: 4px 0 0 0;
  font-weight: 400;
  font-size: 14px;
  color: #3b3b3b;
  text-align: center;
}

.card-tag {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 24px;
  background: #ffffff;
  border: 1px solid;
  border-radius: 4px;
  margin-top: -12px;
  z-index: 2;
}

.tag-text {
  font-weight: 500;
  font-size: 11px;
  text-align: center;
}


@media (max-width: 1394px) {
  .stat-card-wrapper {
    flex: 1 1 calc(33.33% - 12px);
  }
}

@media (max-width: 768px) {
  .stat-card-wrapper {
    flex: 1 1 calc(50% - 12px);
    max-width: 48%;
  }
  
  .card-count {
    font-size: 24px;
  }
}

@media (max-width: 400px) {
  .stat-card-wrapper {
    flex: 1 1 100%;
    padding-right: 2em;
  }
}