
.app-container {
  display: flex;
  flex-direction: column; 
  height: 100vh; 
  width: 100vw;
  overflow: hidden;
}

.main-ui-section {
  display: flex;
  flex-direction: row;
  flex: 1; 
  width: 100%;
  overflow: hidden;
}